{% extends './base.html' %}

{% block body %}
<section class="search">
    <h6 style="color:#b1b2fb"> Search any word you want : </h6>
    <form action="/search/en/" method="POST"> {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" name="wordInput" id="wordInput" placeholder="Example: wall, water, rocket..." minlength="1", maxlength="30" required>
        </div>
        <hr>
        <div class="form-group">
            <button type="submit" value="Search" class="btn btn-light"> Search </button>  
        </div>
    </form>
</section>
{% endblock %}
