.home {
  margin-top: 20em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}

.search {
  margin-top: 20em;
  padding: 4em;
}
.hero {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}

.hero-es {
  margin-top: 10em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}

.word-data {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: stretch;
  background-color: #252525;
  border-radius: 20px;
  padding: 2em;
  max-width: 700px;
  margin-top: 2em;
  min-height: 750px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}
